<label for="">
  <div class="row">
    <div class="col-md-8" id="<%= selectedSection.questions[j]._id %>">
      <div class="File__div">
        <input name="<%= selectedSection.questions[j]._id %>" accept = "image/*,.pdf" data-value="<%= getFileUrl(selectedSection.questions[j].ans, 1) %>" type="file" onchange="onFileMultiChange(this)" id="<%= selectedSection.questions[j]._id %>-fileInput" data-type="1" data-no="1" data-question-id="<%= selectedSection.questions[j]._id %>">
        <div id="<%= selectedSection.questions[j]._id %>-loaderIndecator" class="loader"></div>
      </div>
      <div id="<%= selectedSection.questions[j]._id %>-fileDiv" style="display: block;" class="mb-2 mt-2">

        <% if(getFileUrl(selectedSection.questions[j].ans, 1)) { %>
        <div class="form-group">
          <a href="<%= getFileUrl(selectedSection.questions[j].ans, 1) %>" target="blank"> <i class="fa fa-file mr-2"></i> Attached File</a>
         <!-- <h6 data-question-id="<%= selectedSection.questions[j]._id %>" onclick="removeFile(this)">remove</h6> -->
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <% let subquestions = selectedSection.questions[j].subQuestions %>

  <% for(let n=0; n<subquestions.length; n++) { %>
  <% if(subquestions[n].qtype == 'multi-text') {%>
  <h4><%= subquestions[n].question %></h4>
  <div class="form-group">
    <textarea onblur="onNestedTextChange(this)" class="form-control mb-2" data-text="<%= subquestions[n].question %>" name="<%= selectedSection.questions[j]._id %>" data-question-id="<%= selectedSection.questions[j]._id %>" data-type="1" data-no="<%= subquestions[n].no %>"><%= getTheAnswer(selectedSection.questions[j].ans, subquestions[n].no) %></textarea>
  </div>
  <% } %>
  <% } %>
</label>