<% for(let k=0; k<selectedSection.questions[j].options.length; k++) { %>
  <label for="">
    <input type="radio" id="radio" onchange="onInputBlur(this)" <%=getTheAnswer(selectedSection.questions[j].ans,
      1)==selectedSection.questions[j].options[k] ? "checked" : "" %> data-question-id="<%=
      selectedSection.questions[j]._id %>" name="<%= selectedSection.questions[j]._id %>" value="
        <%= selectedSection.questions[j].options[k] %>">
          <%=selectedSection.questions[j].options[k] %>

  </label>
  <% } %>
    <% for(let k=0; k<selectedSection.questions[j].ans.length; k++) { %>
      <% if(isSecondary(selectedSection.questions[j].ans[k])) {%>
        <div class="form-group">
          <input class="form-control w-3" style="color: red" onfocus="handleFocus(this)" onblur="onInputBlur(this)"
            value="<%= selectedSection.questions[j].ans[k].value %>" type="text" data-type="2"
            id="<%= selectedSection.questions[j]._id %>" data-question-id="<%= selectedSection.questions[j]._id %>"
            name="<%= selectedSection.questions[j]._id %>">
        </div>
        <% } %>
          <% } %>
